.columns1{
    font-weight:bold; 
    font-size: 36px;
    text-align: center;
}

.tablecell1{
    background-color: #7ec4e8;
}

.name2{
	/* font-weight:bold;  */
	font-weight: 500;
    font-size: 43px;
    text-align: center;
	font-family: monospace;
	margin-top: 30px;
}

.columnsMain{
    height: 700px;
    margin: 30px 30px 30px 30px;
    border: 1px solid grey;
}

.rows1{
    text-align: center;
    /* background-color: #d4f1ff; */
    font-weight: bold;
    font-size: 20px;
}

.main1{
    margin: 30px 30px 30px 30px;
    align-items: center;
    font-size: 50px;
    text-decoration:underline  #7ec4e8;
    font-weight: 800;
}

